/* GENERAL */
html {
  height: 100%;
}
.title:hover {
  color: #101010;
  transition: 0.5s linear;
}
.title {
  transition: 0.5s linear;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  background: rgb(154, 205, 50);
  background: linear-gradient(
    0deg,
    rgba(154, 205, 50, 1) 5%,
    rgba(255, 255, 255, 1) 9%
  );
  display: flex;
  flex-direction: column;
  height: 100%;
}
main {
  flex-grow: 1;
}
.conteiner {
  margin: 0 auto;
  width: 960px;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* HEADER */
.header {
  padding: 50px 0;
  background-color: yellowgreen;
}
.header h1,
.header h2 {
  color: greenyellow;
  text-align: center;
}
/* NAVIGATION */
.page-navigation {
  background-color: #222;
  border-color: #101010;
  min-height: 64px;
}
.page-navigation li {
  float: left;
  width: 100px;
}
.page-navigation a {
  display: block;
  color: #9d9d9d;
  line-height: 4em;
  font-weight: bold;
  text-align: center;
}
.page-navigation li a:hover {
  color: yellowgreen;
  background-color: black;
  transition: 0.5s linear;
}
#cont {
  color: yellowgreen;
}
/* MAIN PART */
.collections {
  overflow: auto;
}
.button {
  background-color: white;
  color: black;
  transition: 0.5s linear;
}
.button:hover {
  background-color: yellowgreen;
  color: black;
  transition: 0.5s linear;
}

.collection-title {
  padding-bottom: 5px;
  border-bottom: 1px solid #777;
  font-size: 36px;
}
.collection-title small {
  color: #777;
  font-size: 70%;
}
.collection-item-outer {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  width: calc(100% / 3);
  box-sizing: border-box;
}
.collection-item {
  border: 1px solid #959595;
}
.collection-item img {
  width: 100%;
}
.collection-text {
  padding: 0 20px 20px 20px;
}
.collection-text h3 {
  color: yellowgreen;
}
.collection-text p {
  font-family: Arial, Helvetica, sans-serif;
}
.collection-text button {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
}
.conteiner {
  float: none;
}
.footer {
  background-color: yellowgreen;
  width: 100%;
  height: auto;
  display: inline-block;
  margin-top: 2%;
}
